<h1 mat-dialog-title>Question Answer Form</h1>
<div mat-dialog-content>
    <form [formGroup]="addQAFormGroup" *ngIf="addQAFormGroup">
        <ng-container formArrayName="addQAFormArray" *ngFor="let QAItem of QAList; let QAIndex = index">
            <ng-container [formGroupName]="QAIndex">
                <ng-container [ngSwitch]="QAItem.type">
                    <ng-container *ngSwitchCase="'PARAGRAPH'">
                        <mat-form-field appearance="outline" [style.width.%]=100>
                            <mat-label>{{ QAItem.question }}</mat-label>
                            <textarea matInput formControlName="answer"></textarea>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CHECKBOX'">
                        <mat-form-field class="example-chip-list" appearance="outline" [style.width.%]=100>
                            <mat-label>{{ QAItem.question }}</mat-label>
                            <mat-chip-list #chipList formControlName="answer">
                                <mat-chip *ngFor="let answerItem of QAItem.answer" (removed)="removeAnswerItem(answerItem, QAItem)">
                                    {{ answerItem }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input placeholder="Other..."
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addAnswerItem($event, QAItem)">
                            </mat-chip-list>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
    <button mat-stroked-button color="primary" (click)="showAddNewQuestionModal()">Add New Question</button>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button color="primary" [disabled]="addQAFormGroup.invalid" (click)="onSubmit()">Review my answers</button>
</div>
