<h1 mat-dialog-title>Form Title</h1>
<div mat-dialog-content>
    <form [formGroup]="answersQuestionForm">
        <ng-container formArrayName="answersQuestionArray">
            <ng-container [formGroupName]="idx" *ngFor="let item of answersQuestionForm.controls['answersQuestionArray']['controls']; let idx = index">
                <ng-container [ngSwitch]="item?.value?.type">
                    <ng-container *ngSwitchCase="'PARAGRAPH'">
                        <mat-form-field appearance="outline" [style.width.%]=100>
                            <mat-label>{{ item?.value?.question }}</mat-label>
                            <textarea matInput formControlName="answers"></textarea>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CHECKBOX'">
                        <mat-form-field class="example-chip-list" appearance="outline" [style.width.%]=100>
                            <mat-label>{{ item?.value?.question }}</mat-label>
                            <mat-chip-list #chipList formControlName="answers">
                                <mat-chip *ngFor="let checkboxItem of item?.value?.answers" (removed)="removeCheckboxItem(checkboxItem, item?.value?.answers, item)">
                                    {{ checkboxItem }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input placeholder="Other..."
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addCheckboxItem($event, item?.value?.answers, item)">
                            </mat-chip-list>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial (click)="onSubmit()">Review my answers</button>
</div>
